<!DOCTYPE html>
<html>

<head>
    <title>webfirewall - Access Denied</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <noscript><link rel="stylesheet" href="../static/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    
    <!-- Wrapper -->
    <div id="wrapper">
        
        <!-- Header -->
        <header id="header">
            <h1>403 - Forbidden</h1>
        </header>

        <!-- Main -->
        <div id="main">
            
            <!-- Content -->
            <section id="content" class="main" style="text-align:center;">
                <h1>Access is Denied.</h1>
                <a href="/" class="button primary">Go Home</a>
                <br />
                <br />
            </section>
            
        </div>
        
    </div>
    
    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.scrollex.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>
    
</body>
</html>
